@import "../common/consts";
@import "../common/logging";

:root {
    --root-scale: 2;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "Open Sans";
    overflow: hidden; /* prevents "pull to reload" in Safari */
}

#content_wrap {
    left: $width-collapsed;
    bottom: 0;
}

#custom_panel_toolbar {
    top: 0;
    left: 0;
    bottom: 0;

    width: $width-collapsed;

    > ul {
        > li {
            &:nth-child(4) {
                margin-top: auto;
            }

            > span {
                height: $main-nav-font-size;

                &.active {
                    border-right-color: $color-highlight;
                }
            }

            span {
                font-size: $main-nav-font-size;

                > svg {
                    width: $main-nav-font-size;
                    min-width: $main-nav-font-size;
                }
            }
        }
    }

    &:hover {
        width: $width-expanded;

        > ul {
            > li {
                > span {
                    > span {
                        display: unset;
                    }
                }
            }
        }
    }
}

#content_wrap {
    position: fixed;
    right: 0;
    top: 0;
}

#content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    > iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.hidden {
    display: none;
}
