**/_Temp/
**/_vendor/*/
**/autosave/*.FLT
**/autosave/*.FSSAVE
**/autosave/*.SPB
/dist
fskneeboard-server/charts/*.PNG
.env
fskneeboard.exe
vfrmap-for-vr-win64.zip
fskneeboard.exe
fskneeboard-win64.zip
request_data.exe
SimConnect.dll
push.sh
bindata.go
*.lic
*.pdf

!fskneeboard-server/charts/traffic-pattern.png