**/_Temp/
**/_vendor/*/
**/autosave/*.FLT
**/autosave/*.FSSAVE
**/autosave/*.SPB
**/autosave/*.WPR
/dist
fskneeboard-server/charts/**/*.PNG
.env
fskneeboard.exe
vfrmap-for-vr-win64.zip
fskneeboard.exe
fskneeboard-win64.zip
request_data.exe
SimConnect.dll
push.sh
bindata.go
latestcheck.json
*.lic
*.pdf
*.syso

!fskneeboard-server/charts/traffic-pattern.png
!fskneeboard-server/charts/approach/MDW.png
!fskneeboard-server/charts/weather/weather_forecast_chart.png