node_modules/

**/_Temp/
**/_vendor/*/
**/autosave/*.FLT
**/autosave/*.FSSAVE
**/autosave/*.SPB
**/autosave/*.WPR
dist/
webdist/

fskneeboard-server/charts/**/*.PNG
fskneeboard-server/logs/*
fskneeboard-server/maptilecache/

fskneeboard-panel/christian1984-ingamepanel-fskneeboard/html_ui/InGamePanels/FSKneeboardPanel/

.env
fskneeboard.exe
vfrmap-for-vr-win64.zip
fskneeboard.exe
fskneeboard-win64.zip
request_data.exe
SimConnect.dll
push.sh
bindata.go
latestcheck.json
fskneeboard.db
fskneeboard.db.lock
*.lic
*.pdf
*.syso
*.css.map
*.css

fskneeboard-server/vfrmap/html/index.css
!fskneeboard-server/charts/traffic-pattern.png
!fskneeboard-server/charts/approach/MDW.png
!fskneeboard-server/charts/weather/weather_forecast_chart.png

