* {
    user-select: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif
}

html {
    /* compensate for weird in-game-browser scaling, step 1 */
    /* width: 125%; */
    /* width: 111%; */
}

body {
    display: flex;
    flex-direction: column;

    /* compensate for weird in-game-browser scaling, step 2 */
    /* transform: scaleX(0.8) translate(-12.5%); */
    /* transform: scaleX(0.9) translate(-5.55%); */
    overflow: hidden;
}

#map {
    background-color: gray;
    flex-grow: 1;
}

#teleport-popup table {
    width: 100%;
}

#teleport-popup td {
    padding:0.2em;
    margin: 0;
    /*text-align: center;*/
}

#teleport-popup td label {
    padding-right: 0.2em;
}

#teleport-popup td input,
#teleport-popup td button {
    box-sizing: border-box;
    width: 100%;
}

#wind-indicator,
.map-controls {
    position: absolute;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    padding: 0.5em;
    display: flex;
    align-items: center;
}

.map-controls {
    bottom: 1em;
}

#wind-indicator {
    left: 1em;
    top: 1em;
    flex-direction: column;
}

#wind-indicator-arrow-wrapper {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hud-controls {
    right: 1em;
}

#mode-controls {
    left: 1em;
}

.map-controls > span.left,
.map-controls > input[type=checkbox].left +label,
.map-controls > input[type=radio].left +label {
    border-left: 1px solid black;
    border-radius: 5px 0 0 5px;
    margin-left: 0.5em;
}

.map-controls > span.right,
.map-controls > input[type=checkbox].right +label,
.map-controls > input[type=radio].right +label {
    border-radius: 0 5px 5px 0;
    margin-right: 0.5em;
}

.map-controls > span.left.right,
.map-controls > input[type=checkbox].left.right +label,
.map-controls > input[type=radio].left.right +label {
    border-radius: 5px;
    margin-right: 0 0.5em;
}

.map-controls > span,
.map-controls > input[type=checkbox] +label,
.map-controls > input[type=radio] +label {
    border: 1px solid black;
    border-left: none;
    background-color: white;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    cursor: pointer;
}

.map-controls > span:hover,
.map-controls > input[type=checkbox]:hover +label,
.map-controls > input[type=radio]:hover +label {
    background-color: #ddd;
}

.map-controls > span.selected,
.map-controls > input[type=checkbox]:checked +label,
.map-controls > input[type=radio]:checked +label {
    color: white;
    background-color: blue;
    border-color: blue;
}

input[type=checkbox],
input[type=radio] {
    display: none;
}

.leaflet-control input[type=checkbox] +label,
.leaflet-control input[type=checkbox] +span,
.leaflet-control input[type=radio] +label,
.leaflet-control input[type=radio] +span {
    position: relative;
    margin-right: 1em;
    padding-left: 2.25em;
    height: 1em;
    line-height: 1em;
    user-select: none;
}

.leaflet-popup-content {
    min-width: 300px;
    width: unset !important;
}

.leaflet-control input[type=checkbox] +label::before,
.leaflet-control input[type=checkbox] +label::after,
.leaflet-control input[type=checkbox] +span::before,
.leaflet-control input[type=checkbox] +span::after,
.leaflet-control input[type=radio] +label::before,
.leaflet-control input[type=radio] +label::after,
.leaflet-control input[type=radio] +span::before,
.leaflet-control input[type=radio] +span::after {
    content: '';
    position: absolute;
    transition: all 0.1s ease;
    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
}

.leaflet-control input[type=checkbox] +label::before,
.leaflet-control input[type=checkbox] +span::before,
.leaflet-control input[type=radio] +label::before,
.leaflet-control input[type=radio] +span::before {
    height: 1em;
    width: 2em;
    left: 0;
    top: 0;
}

.leaflet-control input[type=checkbox] +label::after,
.leaflet-control input[type=checkbox] +span::after,
.leaflet-control input[type=radio] +label::after,
.leaflet-control input[type=radio] +span::after {
    background-color: black;
    height: 0.6em;
    width: 0.6em;
    left: 0.2em;
    top: 0.2em;
}

.leaflet-control input:checked[type=checkbox] +label::before,
.leaflet-control input:checked[type=checkbox] +span::before,
.leaflet-control input:checked[type=radio] +label::before,
.leaflet-control input:checked[type=radio] +span::before {
    border-color: blue;
    background-color: blue;
}

.leaflet-control input:checked[type=checkbox] +span::after,
.leaflet-control input:checked[type=checkbox] +label::after,
.leaflet-control input:checked[type=radio] +span::after,
.leaflet-control input:checked[type=radio] +label::after {
    transform: translateX(1em);
    border-color: white;
    background-color: white;
}

.dialog-buttons > span {
    background-color: lightgray;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.dialog-buttons > span:hover {
    background-color: lightblue;
}

.map-overlay-panel {
    top:1em;
    right: 1em;
    bottom: 1em;
    left: 1em;
    background-color: #222;
    color: white;
    position: fixed;
    z-index: 10000;
    overflow: hidden;
    border: 3px solid black;
}
.map-overlay-panel .map-overlay-panel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.map-overlay-panel .map-overlay-panel-wrapper h3 {
    flex-grow: 0;
    margin: 0.5em;
    padding: 0;
}

.map-overlay-panel .highlight,
.map-overlay-panel a {
    color: #ffbf00;
    text-decoration: none;
}

.map-overlay-panel .map-overlay-panel-close {
    text-align: right;
    top: 0.25em;
    right: 1em;
    color: #ffbf00;
    font-size: large;
    font-weight: bold;
}

.map-overlay-panel .map-overlay-panel-close:hover {
    opacity: 0.5;
}

#premium-info iframe {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    border: none;
    flex-grow: 1;
}

#search-map-panel {
    font-size: large;
}

#search-map-panel #search-map-panel-search {
    display: flex;
    margin: 1em;
}

#search-map-panel #search-map-panel-search input {
    flex-grow: 1;
}

#search-map-panel #search-map-panel-results {
    flex-grow: 1;
    overflow: auto;
}

#search-map-panel #search-map-panel-results {
    padding: 0;
    margin: 1em;
}

#search-map-panel #search-map-panel-results li {
    padding: 1em;
    margin: 0.5em;
    list-style-type: none;
    background-color: black;
    border: #ffbf00 1px solid;
    color: #ffbf00;
    cursor: pointer;
}

#search-map-panel #search-map-panel-results li.warning {
    border: red 1px solid;
    color: red;
}

#search-map-panel #search-map-panel-results li:not(.warning):hover {
    background-color: darkslategray;
}

#search-map-panel #onscreen-keyboard {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

#search-map-panel #onscreen-keyboard table {
    margin: 0 auto;
    border-collapse: collapse;
}

#search-map-panel #onscreen-keyboard td {
    text-align: center;
    border: 1px solid black;
    background-color: lightgray;
    color: black;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

#search-map-panel #onscreen-keyboard td:hover {
    background-color: white;
}

#search-map-panel #search-map-panel-results li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-map-panel #search-map-panel-results li>span:first-child {
    flex: 1;
    text-align: left;
}

#search-map-panel #search-map-panel-results li span span:not(:first-child)::before {
    content: ", ";
}

#waypoint-confirm-dialog-wrapper {
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 10001;
    overflow: hidden;
}

#waypoint-confirm-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
}

#waypoint-confirm-dialog > div,
#waypoint-confirm-dialog > h3 {
    margin: 1em;
    text-align: center;
}

.icao_ident {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    display: block;
}

.hidden {
    display: none !important;
}