/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#warning_message {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  text-align: center;
  transition: all 1s linear;
}

#warning_message.show {
  opacity: 1;
}

#CustomPanel {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*border: 2px solid blue !important;*/
}

#custom_panel_wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    /*border: 2px solid red !important;*/
    overflow:hidden;
    flex: auto;
}

#toolbar {
    display: flex;
    justify-content: space-between;
}

#toolbar >span {
    display: flex;
}

#toolbar >span >span {
    padding: 0.5em;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

#toolbar >span >span:hover {
    background-color: lightblue;
}

#toolbar >span >span.active {
    border: none;
    background-color: blue;
    color: white;
}

#tools {
    align-items: center;
    margin-right: 0.25em;
}

#tools >span {
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    margin-left: 0.25em;
}

#content_wrap {
    position: relative;
    flex: auto;
}

#content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#content >iframe {
    width: 100%;
    height: 100%; 
    border-top: 3px solid blue;
}

#content >iframe.hidden {
    display: none;
}

