$main-nav-font-size: calc(1.25rem * var(--root-scale));

$width-collapsed: calc(3.75rem * var(--root-scale));
$width-expanded: calc(12rem * var(--root-scale));

$menu-collapse-height: 46rem;

$submenu-width: 2rem;
$submenu-slider-height: 4rem;

$tooltip-width: 14rem;

$bg-primary: #333;
$color-primary: #999;

$bg-secondary: #111;
$color-secondary: #eee;

$color-highlight: #ffbf00;

$transition-speed-slow: 600ms;
$transition-speed-fast: 200ms;
$tooltip-delay: 500ms;
