@import "consts";

#submenu {
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 1000;

    ul {
        > li {
            > span {
                width: $submenu-width;
                height: $submenu-width;
                padding: 0;
                align-items: center;
                border: none;

                &.flyout-menu,
                &.tooltip {
                    display: flex;
                    overflow: hidden;
                    color: $color-secondary;
                }

                &.tooltip {
                    position: absolute;
                    right: $submenu-width;

                    justify-content: center;

                    width: 0;
                    height: 2rem;
                    transition: width $transition-speed-fast ease;

                    background-color: $bg-secondary;
                    opacity: 0.7;
                }

                &.flyout-menu {
                    height: unset;

                    +span {
                        display: none;
                    }
                }

                > span {
                    display: block;
                    margin: 0 auto;
                }

                > label {
                    line-height: $submenu-width;
                    flex: 1;
                    text-align: center;

                    > svg {
                        font-size: 1rem;
                        width: 1rem !important;
                        min-width: 1rem;
                    }
                }

                > input {
                    &:checked {
                        + label {
                            > svg,
                            > span {
                                color: $color-highlight;
                            }
                        }
                    }
                }


                &:hover {
                    &.flyout-menu {
                        background-color: unset;
                    }

                    > label {
                        > svg {
                            color: $color-secondary;
                        }
                    }
                }
            }

            &:hover {
                > span {
                    &.tooltip {
                        transition-delay: $tooltip-delay;
                        width: $tooltip-width;
                    }
                } 
            }

            &.sliderItem {
                height: $submenu-slider-height;

                > span {
                    height: $submenu-slider-height;

                    input {
                        display: block;
                        margin: 0;
                        transform-origin: left;
                        transform: translateX(#{$submenu-width / 2}) rotate(90deg) translateX(-$submenu-width) ;
                        width: $submenu-slider-height;
                    }
                }
            }
        }

        .marginator,
        .flyout-menu {
            margin-top: $submenu-width / 2;
        }

        .big-marginator {
            margin-top: auto;
        }
    }
}

@media only screen and (max-height: $menu-collapse-height) {
    #submenu ul > li {
        > span {
            &.flyout-menu {
                position: absolute;
                right: $submenu-width;

                justify-content: right;
        
                width: auto;
                max-width: 0;
                margin-top: 0;
                transition: max-width $transition-speed-fast ease;
                transition-delay: $tooltip-delay;

                background-color: $bg-primary;

                +span {
                    display: flex;
                }
        
                ul {
                    flex-direction: row;
        
                    > li {
                        >span {
                            &.tooltip {
                                top: 0;
                            }
                        }
                    }

                    .marginator {
                        margin-top: 0;
                        margin-left: $submenu-width;
                    }
                }

                &.children-2 {
                    ul > li > span {
                        &.tooltip {
                            right: 2 * $submenu-width;
                        }
                    }
                }

                &.children-3 {
                    ul > li > span {
                        &.tooltip {
                            right: 3 * $submenu-width;
                        }
                    }
                }

                &.children-4 {
                    ul > li > span {
                        &.tooltip {
                            right: 4 * $submenu-width;
                        }
                    }
                }
        
                &.children-5 {
                    ul > li > span {
                        &.tooltip {
                            right: 5 * $submenu-width;
                        }
                    }
                }
            }
    
        }

        &:hover {
            > span {
                &.flyout-menu {
                    transition-delay: 0ms;
                    max-width: 100vw;
                    overflow: visible;

                    background-color: $bg-secondary;
                }
            } 
        }
    }
}