@import "consts";

#submenu {
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 1000;

    ul {
        > li {
            &.marginator {
                margin-top: $submenu-width / 2;
            }
    
            &.big-marginator {
                margin-top: auto;
            }

            &:hover {
                > span {
                    &.flyout-menu {
                        transition-delay: 0ms;
                        max-width: 100vw;
                    }
    
                    &.tooltip {
                        transition-delay: $tooltip-delay;
                        width: $tooltip-width;
                    }
                } 
            }

            > span {
                width: $submenu-width;
                height: $submenu-width;
                padding: 0;
                align-items: center;
                border: none;

                &.flyout-menu,
                &.tooltip {
                    display: flex;
                    position: absolute;
                    background-color: $bg-secondary;
                    overflow: hidden;
                    opacity: 0.7;
                    color: $color-secondary;
                    right: $submenu-width;
                }

                &.flyout-menu {
                    justify-content: right;

                    width: 100vw;
                    max-width: 0;
                    transition: max-width $transition-speed-fast ease;
                    transition-delay: $tooltip-delay;

                    ul {
                        flex-direction: row;
                    }
                }

                &.tooltip {
                    justify-content: center;

                    width: 0;
                    transition: width $transition-speed-fast ease;
                }

                > span {
                    display: block;
                    margin: 0 auto;
                }

                > label {
                    line-height: $submenu-width;
                    flex: 1;
                    text-align: center;

                    > svg {
                        font-size: 1rem;
                        width: 1rem !important;
                        min-width: 1rem;
                    }
                }

                > input {
                    &:checked {
                        + label {
                            > svg,
                            > span {
                                color: $color-highlight;
                            }
                        }
                    }
                }


                &:hover {
                    > label {
                        > svg {
                            color: $color-secondary;
                        }
                    }
                }
            }
        }
    }
}