/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#FSKneeboardPanel {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*border: 2px solid red !important;*/
}

#content_iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#warning_message {
    z-index: -100;
    opacity: 0;
    text-align: center;
    transition: all 3s linear;
    transition-delay: 3s;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(50%);
}

#warning_message.show {
  opacity: 1;
}

