/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
div#WarningMessage {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  text-align: center;
  transition: all 1s linear;
}
div#WarningMessage.show {
  opacity: 1;
}
ingame-ui#CustomPanel {
  position: relative;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height:100% !important;
  width: 100% !important;
  /*border: 2px solid blue !important;*/
}
ingame-ui#CustomPanel #CustomPanelWrap {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  /*border: 2px solid red !important;*/
  min-height: 0;
  min-width: 0;
  overflow:hidden;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
ingame-ui#CustomPanel #CustomPanelWrap div {
    display: flex;
}
ingame-ui#CustomPanel #CustomPanelWrap div span {
    margin: 0;
    padding: 0.5em;
    border: 1px solid black;
    background-color: white;
    color: black;
}
ingame-ui#CustomPanel #CustomPanelWrap div span.active {
    border: none;
    background-color: blue;
    color: white;
}
ingame-ui#CustomPanel #CustomPanelWrap iframe {
  flex: 1 1 auto !important;
  border-top: 3px solid blue;
}
ingame-ui#CustomPanel #CustomPanelWrap iframe.hidden {
    display: none;
}
ingame-ui#CustomPanel #MainDisplay.hidden {
  display: none;
}
ingame-ui#CustomPanel #Footer.hidden {
  display: none;
}
ingame-ui#CustomPanel .ingameUiContent {
  /*border: 2px solid green !important;*/
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  min-width: 0 !important;
  overflow:hidden !important;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
ingame-ui#CustomPanel .ingameUiWrapper {
  /*border: 2px solid yellow !important;*/
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  min-width: 0 !important;
  overflow:hidden !important;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}
