$width-collapsed: 4rem;
$width-expanded: 12rem;
$height-expanded: 8rem;

$bg-primary: #333;
$color-primary: #999;

$bg-secondary: #111;
$color-secondary: #eee;

$color-highlight: #ffbf00;

$transition-speed-slow: 600ms;
$transition-speed-fast: 200ms;