$main-nav-font-size: 1.25rem;

$width-collapsed: 3.75rem;
$width-expanded: 12rem;
$height-expanded: 8rem;

$span-width: 2rem;

$tooltip-width: 12rem;

$bg-primary: #333;
$color-primary: #999;

$bg-secondary: #111;
$color-secondary: #eee;

$color-highlight: #ffbf00;

$transition-speed-slow: 600ms;
$transition-speed-fast: 200ms;

$small-screen-width: 40rem;