$width-collapsed: 4rem;
$width-expanded: 12rem;

$bg-primary: #333;
$color-primary: #999;

$bg-secondary: #111;
$color-secondary: #eee;

$color-highlight: #ffbf00;

$transition-speed-slow: 600ms;
$transition-speed-fast: 200ms;

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "Open Sans";
}

#custom_panel_toolbar {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: $bg-primary;
    transition: all 200ms ease;

    > ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 100%;

        * {
            user-select: none;
        }

        > li {
            margin: 0;
            padding: 0;
            cursor: pointer;

            span {
                &:first-child {
                    > svg {
                        font-size: 1.5rem;
                        width: 1.5rem;
                        min-width: 1.5rem;
                    }
                }
            }

            > span {
                display: flex;
                align-items: center;
                padding: 1rem;
                text-decoration: none;
                color: $color-primary;
                border: 0.25rem solid transparent;
                transition: all $transition-speed-fast ease;

                &.active {
                    > svg,
                    > span {
                        color: $color-secondary;
                    }
                }

                > span {
                    margin-left: 1rem;
                    display: none;
                    transition: all 200ms ease;

                    > input {
                        display: none;

                        + label {
                            cursor: pointer;

                            .checked
                            {
                                display: none;
                            }
                        }

                        &:checked {
                            +label {
                                .checked {
                                    display: unset;
                                }

                                .unchecked {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &.toolgroup {
                    > span {
                        &:hover {
                            color: $color-highlight;
                        }
                    }
                }

                &:hover {
                    background-color: $bg-secondary;

                    > svg {
                        color: $color-highlight;
                    }

                    > span {
                        color: $color-secondary;
                    }
                }
            }
        }
    }
}

#content_wrap {
    position: fixed;
    right: 0;
    top: 0;
}

#content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    > iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

@media only screen and (max-width: 600px) {
    #custom_panel_toolbar {
        right: 0;
        height: $width-collapsed;

        > ul {
            flex-direction: row;
            justify-content: center;

            > li {
                > span {
                    /* box-sizing: border-box; */
                    &.active {
                        border-top-color: $color-highlight;
                    }
                }
            }
        }
    }

    #content_wrap {
        bottom: $width-collapsed;
        left: 0;
    }
}

@media only screen and (min-width: 600px) {
    #custom_panel_toolbar {
        top: 0;
        width: $width-collapsed;

        > ul {
            flex-direction: column;

            > li {
                > span {
                    height: 2rem;

                    &.active {
                        border-right-color: $color-highlight;
                    }
                }

                &:nth-child(4) {
                    margin-top: auto;
                }
            }
        }

        &:hover {
            width: $width-expanded;
    
            > ul {
                > li {
                    > span {
                        > span {
                            display: unset;
                        }
                    }
                }
            }
        }
    }

    #content_wrap {
        left: $width-collapsed;
        bottom: 0;
    }
}

.hidden {
    display: none;
}