$width-collapsed: 3.5rem;
$width-expanded: 12rem;

$bg-primary: #333;
$color-primary: #999;

$bg-secondary: #111;
$color-secondary: #eee;

$color-highlight: #ffbf00;

$transition-speed-slow: 600ms;
$transition-speed-fast: 200ms;

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "Open Sans";
}

#custom_panel_toolbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $width-collapsed;
    background-color: $bg-primary;
    transition: all 200ms ease;

    > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        > li {
            margin: 0;
            cursor: pointer;
            padding: 0;

            > a {
                padding: 1rem;
                color: $color-primary;
                text-decoration: none;
                display: flex;
                align-items: center;
                height: 2rem;
                transition: all $transition-speed-fast ease;

                > svg {
                    font-size: 1.5rem;
                    width: 1.5rem;
                    min-width: 1.5rem;
                }

                &.active {
                    > svg,
                    > span {
                        color: $color-secondary;
                    }
                }

                > span {
                    margin-left: 1rem;
                    display: none;
                    transition: all 200ms ease;
                }

                &:hover {
                    background-color: $bg-secondary;

                    > svg {
                        color: $color-highlight;
                    }

                    > span {
                        color: $color-secondary;
                    }
                }
            }
        }
    }

    &:hover {
        width: $width-expanded;

        > ul {
            > li {
                > a {
                    > span {
                        display: unset;
                    }
                }
            }
        }
    }
}

#content_wrap {
    position: fixed;
    left: $width-collapsed;
    right: 0;
    top: 0;
    bottom: 0;
}

#content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    >iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.hidden {
    display: none;
}