html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#custom_panel_wrap {
    display: flex;
    flex-direction: column;
    overflow:hidden;
    flex: auto;
    width: 100%;
    height: 100%;
    /*border: 2px solid red !important;*/
}

#custom_panel_toolbar {
    display: flex;
    justify-content: space-between;
}

#custom_panel_toolbar >span {
    margin-top: 2px;
    display: flex;
}

#tab_switches >span,
#custom_panel_toolbar_tools .toolgroup > span {
    padding: 0.5em;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

#tab_switches >span:hover,
#custom_panel_toolbar_tools .toolgroup > span:hover {
    background-color: lightblue;
}

#tab_switches >span.active {
    border: none;
    background-color: blue;
    color: white;
}

#custom_panel_toolbar_tools {
    align-items: center;
}

#custom_panel_toolbar_tools .toolgroup {
    display: flex;
    margin-right: 0.25em;
}

#custom_panel_toolbar_tools .toolgroup >span {
    text-align: center;
    border-left: none;
}

#custom_panel_toolbar_tools .toolgroup >span:first-child {
    border-left: 1px solid black;
    border-radius: 5px 0 0 5px;
}

#custom_panel_toolbar_tools .toolgroup >span:last-child {
    border-radius: 0 5px 5px 0;
}

#custom_panel_toolbar_tools .toolgroup >span:first-child:last-child {
    border-radius: 5px;
}

#content_wrap {
    position: relative;
    flex: auto;
}

#content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#content >iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-top: 3px solid blue;
    /* display: none; */
}

#content >iframe.hidden {
    display: none;
}