@import "../common/consts";
@import "../common/keyboard";

* {
    user-select: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

.map-overlay-panel {
    h4 {
        margin: 0.25rem 0;
    }
}

body {
    display: flex;
    flex-direction: column;

    /* compensate for weird in-game-browser scaling, step 2 */
    /* transform: scaleX(0.8) translate(-12.5%); */
    /* transform: scaleX(0.9) translate(-5.55%); */
    overflow: hidden;
}

#map {
    background-color: gray;
    flex-grow: 1;
    margin-right: $submenu-width;
}

#teleport-popup {
    table {
        width: 100%;

        td {
            padding: 0.2em;
            margin: 0;
            /*text-align: center;*/

            label {
                padding-right: 0.2em;
            }

            input,
            button {
                box-sizing: border-box;
                width: 100%;
            }
        }
    }
}

#wind-indicator {
    position: absolute;
    z-index: 1000;
    background-color: rgba($bg-primary, 0.9);
    color: $color-primary;
    border-radius: 5px;
    padding: 0.5em;
    display: flex;
    align-items: center;

    left: 10px;
    top: 10px;
    flex-direction: column;
}

#wind-indicator-gauge-wrapper,
#wind-indicator-gauge,
#wind-indicator-north-wrapper,
#wind-indicator-heading-wrapper,
#wind-indicator-heading,
#wind-indicator-arrow-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wind-indicator-gauge-wrapper,
#wind-indicator-gauge {
    width: 50px;
    height: 50px;
}

#wind-indicator-gauge {
    position: relative;
}

#wind-indicator-north-wrapper,
#wind-indicator-heading-wrapper,
#wind-indicator-arrow-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#wind-indicator-arrow {
    svg:first-child {
        transform: scale(0.75);
    }
}

#wind-indicator-north-wrapper,
#wind-indicator-heading-wrapper {
    justify-content: flex-start;

    > span {
        font-size: x-small;
        line-height: 2px;
    }
}

.leaflet-control {
    border: none !important;
    background-color: rgba($bg-primary, 0.9);
    background-clip: unset !important;

    > a {
        border-radius: 5px !important;
        background-color: unset;
        color: $color-primary;

        &:hover {
            background-color: $bg-secondary;
            color: $color-secondary;
        }
    }
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

.leaflet-control {
    input[type="checkbox"],
    input[type="radio"] {
        + label,
        + span {
            position: relative;
            margin-right: 1em;
            padding-left: 2.25em;
            height: 1em;
            line-height: 1em;
            user-select: none;
            color: $color-primary;

            &::before,
            &::after {
                content: "";
                position: absolute;
                transition: all 0.1s ease;
                border: 1px solid $color-secondary;
                border-radius: 1em;
                background-color: $bg-secondary;
            }

            &::before {
                height: 1em;
                width: 2em;
                left: 0;
                top: 0;
            }

            &::after {
                background-color: $color-secondary;
                height: 0.6em;
                width: 0.6em;
                left: 0.2em;
                top: 0.2em;
            }
        }

        &:checked {
            + label,
            + span {
                &::before {
                    border-color: $color-highlight;
                    background-color: $color-highlight;
                }

                &::after {
                    transform: translateX(1em);
                    border-color: $bg-secondary;
                    background-color: $bg-secondary;
                }
            }
        }
    }
}

.leaflet-popup-content {
    min-width: 300px;
    width: unset !important;
}

.map-overlay-panel {
    top: 1em;
    right: 1em;
    bottom: 1em;
    left: 1em;
    background-color: #222;
    color: white;
    position: fixed;
    z-index: 10000;
    overflow: hidden;
    border: 3px solid black;

    .map-overlay-panel-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;

        h3 {
            flex-grow: 0;
            margin: 0.5em;
            padding: 0;
        }
    }

    .highlight,
    a {
        color: #ffbf00;
        text-decoration: none;
    }

    .map-overlay-panel-close {
        text-align: right;
        top: 0.25em;
        right: 1em;
        color: #ffbf00;
        font-size: large;
        font-weight: bold;

        &:hover {
            opacity: 0.5;
        }
    }
}

#premium-info {
    iframe {
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        border: none;
        flex-grow: 1;
    }
}

#search-map-panel {
    font-size: large;
}

#search-map-panel-search {
    display: flex;
    margin: 1em;

    input {
        flex-grow: 1;
    }
}

#search-map-panel-results {
    flex-grow: 1;
    overflow: auto;
    padding: 0;
    margin: 1em;

    li {
        padding: 1em;
        margin: 0.5em;
        list-style-type: none;
        background-color: black;
        border: #ffbf00 1px solid;
        color: #ffbf00;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.warning {
            border: red 1px solid;
            color: red;
        }

        &:not(.warning) {
            &:hover {
                background-color: darkslategray;
            }
        }

        > span {
            &:first-child {
                flex: 1;
                text-align: left;
            }
        }

        span {
            span:not(:first-child) {
                &::before {
                    content: ", ";
                }
            }
        }
    }
}

.icao_ident {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    display: block;
}

.hidden {
    display: none !important;
}
